.frame{
    display:flex; 
}

.leftwebhead{
    font-size:20px;
    flex:none;
    width:300px;
    font-weight:bold;  
}

.web-menu{
    display:flex;
    justify-content: flex-end;
    font-size:20px;
    flex:auto;
}       
.item{
    font-size:20px;
    flex:none;
    width:60px;
    margin-right:20px;
    text-align:center;
}
.item1{
    display:flex;
    font-size:20px;
    flex:auto;
    width:60px;
    margin:0 auto;
}
.mobile-menu{
    
    display:none;
}
.list{
    display: flex;
    flex:auto;
    justify-content:center;
    align-items:center;
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;

}

.welcome{
    display:flex;
    justify-content:center;
    align-items:center; 
    height:250px;
    background-color: lightblue; 
}
.text{
    font-size:40px;
    font-weight:bold;  
}

.promotion{
    display:flex;
    flex:1;
    margin:20px;
    background-color: lightblue;
    align-items: center; 
    height:50px;
}
.title1{
    display:block;
    justify-content:center;
    background-color: black;
    color:red;
    flex:386;
    margin:20px;
    height:250px;
    background-image:url("https://images.saymedia-content.com/.image/t_share/MTc0MDcyMTY0MDU4NjcwNjU4/german-shepherd-height-and-weight.jpg") ;  
    background-repeat: no-repeat;
    background-size:600px;
    background-position: center;
}
.title2{
    display:block;
    justify-content:center;
    background-color: black;
    color:red;
    flex:171;
    margin:20px;
    height:250px;
    background-image:url("https://images.saymedia-content.com/.image/t_share/MTc0MDcyMTY0MDU4NjcwNjU4/german-shepherd-height-and-weight.jpg");  
    background-repeat: no-repeat;
    background-size:600px;
    background-position: center;
}

.title3{
    display:block;
    justify-content:center;
    background-color: black;
    color:red;
    flex:171;
    margin:20px;
    height:250px;
    background-image:url("https://images.saymedia-content.com/.image/t_share/MTc0MDcyMTY0MDU4NjcwNjU4/german-shepherd-height-and-weight.jpg");  
    background-repeat: no-repeat;
    background-size:600px;
    background-position: center;
}
.background1{
    display:flex;
    justify-content:center;
    align-items:center; 
    background-color:rgba(204, 203, 29, 0.5);
    padding:15px;
    margin-top:202px;
}
.background2{
    display:flex;
    justify-content:center;
    align-items:center; 
    background-color:rgba(204, 203, 29, 0.5);
    padding:15px;
    margin-top:202px;
}
.moblie{
    display:none;
}
.list-1{
    display: none;
    
}
img{
    float: right;
}
.side {
    position:fixed;
    height:100%;
    width:50%;
    left:50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
  }
@media(max-width:1250px){
    .list{
        flex-wrap:wrap;
    }
    .promotion{
        flex:auto;
        margin:10px;
        width:45%;
    }
    .title1{
        flex:auto;
        margin:8px;
        width:19%;
    }
    .title2{
        flex:auto;
        margin:8px;
        width:19%;
    }
    .title3{
        flex:auto;
        margin:8px;
        width:45%;
    }
    .list{
        display:none;
    }
    .list-1{
        display:flex;
        flex:auto;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        width: 100%; 
        max-width: 1200px;
        margin: 0 auto;
    }
    .side1{
        display:none;
    }
}



@media(max-width:600px){
    
    .web-menu{
        display:none;
    }
    .mobile-menu{
        display:flex;
        flex:auto;
        justify-content: flex-end;
    } 
    .promotion{
        flex:auto;
        width:90%;
    }
    .title1{
        flex:auto;
        width:90%;
    }
    .title2{
        flex:auto;
        width:90%;
    }
    .title3{
        flex:auto;
        width:90%;
    }
    .side1{
        display:block;
    }
    
}